<div id="map" style="width: 500px; height: 500px;"></div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
var map;
function initMap() {
    var position = {lat: {{ lat }}, lng: {{ lng }} };
    map = new google.maps.Map(document.getElementById('map'), {
        center: position,
        zoom: 8
    });
    var marker = new google.maps.Marker({
        position: position,
        map: map,
        draggable: true
    });

    map.addListener('click', function(e) {
        $('#id_lnglat').val(e.lnglat.lng() + ',' + e.lnglat.lat());
        marker.setPosition(e.lnglat);
    });

    marker.addListener('dragend', function(e) {
        $('#id_lnglat').val(e.lnglat.lng() + ',' + e.lnglat.lat());
    });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
